$abbey: #4D4D4F;
$alabaster: #FAFAFA;
$alto: #D8D8D8;
$atlantis: #ABD040;
$black: #000000;
$cerise: #D7499A;
$confetti: #ECEA5E;
$dusty-gray : #979797;
$gray : #7F7F7F;
$silver: #BABABA;
$sushi: #93B537;
$tall-poppy: #B82932;
$thunder: #231F20;
$white: #FFFFFF;
$wild-sand: #F6F6F6;
