$c-abbey: #4D4D4F;
$c-alabaster: #FAFAFA;
$c-alto: #D8D8D8;
$c-atlantis: #ABD040;
$c-black: #000000;
$c-cerise: #D7499A;
$c-confetti: #ECEA5E;
$c-dusty-gray : #979797;
$c-gray : #7F7F7F;
$c-silver: #BABABA;
$c-sushi: #93B537;
$c-tall-poppy: #B82932;
$c-thunder: #231F20;
$c-white: #FFFFFF;
$c-wild-sand: #F6F6F6;
