/*=============================================
=            Accordion Section CSS            =
=============================================*/
.hb {
    &-accordion {
        padding: 60px 0;

        &__card {
            border: 1px solid $silver;
            border-radius: 0;
            margin-bottom: -1px;

            &-header {
                border-radius: 0;
                margin-bottom: -1px;
                padding: 0;
                position: relative;
            }

            &-icon {
                font-size: $fs-small;
                opacity: .35;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) rotate(-180deg);
            }

            .collapsed {
                ~ .hb-accordion__card-icon {
                    opacity: 1;
                    transform: translateY(-50%) rotate(0);
                }
            }

            &-body {
                p {
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-btn {
                background-color: $wild-sand;
                color: $atlantis !important;
                display: block;
                font-family: $ff-circularstd-medium;
                line-height: 20px;
                padding: 15px;
                position: relative;
                text-align: left;
                text-decoration: none !important;
                width: 100%;

                &.collapsed {
                    background-color: $white;
                    color: $abbey !important;
                }

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    box-shadow: none;
                }

                @include media-breakpoint-up(md) {
                    font-size: $fs-normal;
                }
            }
        }

        &__title {
            color: $atlantis;
            font-family: $ff-circularstd-medium;
            font-size: $fs-normal;
            margin: 20px 0;

            @include media-breakpoint-up(md) {
                font-size: $fs-medium;
                margin: 29px 0 18px;
            }
        }
    }
}
/*=====  End of Accordion Section CSS  ======*/
