/*=============================================
=            Blog Component CSS            =
=============================================*/
.hb {
    &-blog {
        padding: 50px 0;

        &__thumbnail {
            margin-bottom: 10px;
            position: relative;

            img {
                width: 100%;
            }

            @include media-breakpoint-up(md) {
                margin-bottom: 15px;
            }

            a {
                &:after {
                    background-color: rgba($atlantis, 0.5);
                    bottom: 0;
                    content: "";
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: 0.3s linear all;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        &__title {
            font-family: $ff-circularstd-medium;
            font-size: $fs-normal;
            line-height: 24px;

            @include media-breakpoint-up(md) {
                font-size: $fs-medium;
                line-height: 30px;
            }

            a {
                color: $atlantis;
                text-decoration: none;
                transition: 0.3s linear all;

                &:hover {
                    color: $cerise;
                }
            }
        }

        &__meta {
            font-size: $fs-xsmall;
            margin-bottom: 15px;

            a {
                color: $abbey;
                text-decoration: none;
            }
        }

        &__text {
            margin-bottom: 30px;
        }

        &__pagination {
            border-top: 1px solid $dusty-gray;
            margin-top: 15px;

            @include media-breakpoint-up(md) {
                padding-top: 20px;
            }

            &-list {
                margin: 10px 0 8px;
                padding: 0;

                @include media-breakpoint-up(md) {
                    margin: 0;
                }

                li {
                    margin-bottom: 0;

                    &:after {
                        display: none;
                    }
                }

                a {
                    border: 1px solid $white;
                    border-radius: 50%;
                    color: $abbey;
                    display: inline-block;
                    font-size: $fs-xsmall;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    text-decoration: none;
                    width: 30px;

                    &.active {
                        border: 1px solid $dusty-gray;
                    }
                }
            }

            &-number {
                font-size: $fs-xsmall;
                line-height: 28px;
            }
        }
    }
}

.widget {
    margin-bottom: 37px;

    @include media-breakpoint-up(md) {
        margin-bottom: 44px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-area {
        margin-top: 20px;
    }

    &-title {
        color: $black;
        font-family: $ff-circularstd-medium;
        font-size: $fs-normal;
        line-height: 23px;
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
            font-size: $fs-medium;
            line-height: 30px;
        }
    }

    &_search {
        form {
            label {
                display: block;
            }
        }

        [type=search] {
            border: 2px solid $silver;
            font-family: $ff-circularstd-book;
            font-size: $fs-small;
            padding: 10px 14px;
            width: 100%;
        }

        [type=submit] {
            display: none;
        }
    }

    &_categories {
        ul {
            li {
                padding: 0 !important;

                &:after {
                    display: none !important;
                }
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-size: $fs-xsmall;
            line-height: 18px;
            margin-bottom: 12px;
            padding-left: 20px;
            position: relative;

            @include media-breakpoint-up(md) {
                font-size: $fs-small;
                line-height: 23px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                background-color: $cerise;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 10px;
                left: 0;
                position: absolute;
                top: 3px;
                width: 10px;
            }
            
            a {
                color: $abbey;
                display: inline-block;

                &:hover {
                    color: $cerise;
                    text-decoration: none;
                }
            }
        }
    }
}
/*=====  End of Blog Component CSS  ======*/
