/*=============================================
=            Breadcumb Banner Section CSS            =
=============================================*/
.hb-breadcumb {
    font-family: $ff-circularstd-medium;
    padding: 50px 0 10px;
}

.hb-breadcumb__title {
    font-family: $ff-circularstd-medium;
    font-size: $fs-normal;
    line-height: 23px;
    margin-bottom: 16px;

    @include media-breakpoint-up(md) {
        font-size: $fs-medium;
        line-height: 30px;
    }

    ol {
        padding: 0;
    }
}

.hb-breadcumb__item {
    @extend .breadcrumb-item;
    color: $c-white;
    font-size: $fs-xsmall;

    &.active,
    &:before {
        color: $c-white !important;
    }

    &:first-child {
        &:before {
            display: none !important;
        }
    }

    &:before {
        content: ">>" !important;
    }

    &:after {
        display: none;
    }

    a {
        color: $c-white;
        font-size: $fs-xsmall;

        &:hover {
            text-decoration: none;
        }
    }
}

.hb-breadcumb__nav-list {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-md-end;
    @extend .list-inline;
    @extend .m-0;
}

.hb-breadcumb--color-white {
    color: $c-white;
}
/*=====  End of Breadcumb Banner Section CSS  ======*/
