/*=============================================
=            Counter Section CSS            =
=============================================*/
.hb-counter__col {
    @extend .col-12;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
        @extend .col-md-4;
    }

    @include media-breakpoint-up(lg) {
        @extend .col-lg;
    }
}

.hb-counter {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 50px 0 25px;
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 0 75px;
    }
}

.hb-counter__content {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
        margin-bottom: 60px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.hb-counter__count {
    color: $c-cerise;
    font-family: $ff-modulus-b;
    font-size: $fs-x-large;
    line-height: 52px;
    margin-bottom: 30px;
}

.hb-counter__count--gray {
    color: $c-abbey;
}

.hb-counter__title {
    font-family: $ff-circularstd-book;
    position: relative;

    &:after {
        border-top: 2px solid $c-abbey;
        content: "";
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: -15px;
        width: 40px;
    }
}

.hb-counter__icon {
    margin-bottom: 16px;

    @include media-breakpoint-up(md) {
        margin-bottom: 30px;
        min-height: 70px;
    }
}
/*=====  End of Counter Section CSS  ======*/
