/*=============================================
=            Geneal CSS            =
=============================================*/
.hb {
    &-general {
        &__txt {
            &-img {
                &-title {
                    color: $black;
                    font-size: $fs-medium;
                    line-height: 28px;
                    margin: 15px 0;

                    @include media-breakpoint-up(md) {
                        font-size: $fs-x-large;
                        line-height: 52px;
                        margin: 20px 0;
                    }

                    @include media-breakpoint-up(lg) {
                        margin: 40px 0 30px;
                    }
                }

                &-image {
                    margin-bottom: 20px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 30px;
                    }

                    @include media-breakpoint-up(lg) {
                        margin-bottom: 40px;
                    }
                }

                &-content {
                    h2,h3,h4,h5,h6 {
                        color: $atlantis;
                        font-family: $ff-circularstd-medium;
                        margin-bottom: 10px;

                        @include media-breakpoint-up(md) {
                            margin-bottom: 20px;
                        }
                    }

                    h2 {
                        font-size: $fs-normal;
                        line-height: 24px;

                        @include media-breakpoint-up(md) {
                            font-size: $fs-medium;
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        &__title {
            &-small {
                color: $atlantis;
                font-family: $ff-circularstd-medium;
                font-size: $fs-normal;
                line-height: 24px;
                margin-bottom: 10px;

                @include media-breakpoint-up(md) {
                    font-size: $fs-medium;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
            }
        }

        &__youtube {
            margin-bottom: 35px;

            @include media-breakpoint-up(md) {
                margin-bottom: 50px;
            }

            &__wrap {
                margin-bottom: 30px;

                @include media-breakpoint-up(md) {
                    margin-bottom: 60px;
                }
            }

            &-popup {
                &-video {
                    position: relative;

                    &:after {
                        background-color: rgba($black, 0.5);
                        bottom: 0;
                        content: "";
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                    }
                }
            }

            &-play {
                &-icon {
                    left: 0;
                    margin: 0 auto;
                    max-width: 42px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 5;

                    @include media-breakpoint-up(md) {
                        max-width: 72px;
                    }

                    @include media-breakpoint-up(lg) {
                        max-width: 102px;
                    }
                }
            }
        }
    }
}
/*=====  End of Geneal CSS  ======*/
