/*=============================================
=            Template Variation Section CSS            =
=============================================*/
.hb {
	&-intro {
		padding: 25px 0;

		@include media-breakpoint-up(md) {
			padding: 45px 0 25px;
		}

		@include media-breakpoint-up(lg) {
			padding: 66px 0 54px;
		}
	}
}
/*=====  End of Template Variation Section CSS  ======*/


/*=============================================
=            Gallery List Section CSS            =
=============================================*/
.hb {
	&-gallery {
		&__title {
			color: $black;
			font-family: $ff-circularstd-medium;
			font-size: $fs-normal;
			line-height: 24px;
			margin-bottom: 20px;

			@include media-breakpoint-up(md) {
				font-size: $fs-medium;
				line-height: 30px;
			}
		}

		&__row {
			margin: 30px -7px;
		}

		&__col {
			margin-bottom: 14px;
			padding: 0 7px;
		}
	}
}
/*=====  End of Gallery List Section CSS  ======*/

/*=============================================
=            Blockquote Sectiom CSS            =
=============================================*/
.hb {
	&-general {
		&__blockquote {
			padding: 30px 0;
	
			&-text {
				color: $atlantis;
				font-family: $ff-modulus-b;
				font-size: $fs-medium;
				line-height: 30px;
				margin: 0 auto;
				max-width: 688px;
				width: 75%;
	
				@include media-breakpoint-up(md) {
					font-size: $fs-large;
					line-height: 44px;
				}
	
				&:after,
				&:before {
					color: $cerise;
					content: '“';
					font-family: $ff-circularstd-medium;
					font-size: $fs-xx-large;
					left: 0;
					position: absolute;
					top: 50%;
	
					@include media-breakpoint-up(md) {
						font-size: 144px;
					}
	
					@include media-breakpoint-up(lg) {
						left: 100px;
					}
				}
	
				&:after {
					content: "”";
					left: auto;
					right: 0;
	
					@include media-breakpoint-up(lg) {
						right: 100px;
					}
				}
			}
		}
	}
	
}
/*=====  End of Blockquote Sectiom CSS  ======*/

/*=============================================
=            Icon Card Section CSS            =
=============================================*/
.hb {
	&-icon {
		&-card {
			padding: 34px 0 22px;

			@include media-breakpoint-up(md) {
				padding: 52px 0 48px;
			}

			@include media-breakpoint-up(lg) {
				padding: 64px 0 112px;
			}

			&__row {
				margin-top: 10px;

				@include media-breakpoint-up(md) {
					margin-top: 30px;
				}
			}

			&__box {
				background-color: $white;
				border-radius: 8px;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 20px;
				min-height: 200px;
				padding: 20px;
				transition: 0.3s linear all;
				
				&:hover {
					box-shadow: 0.5px 0.5px 9px 0 rgba($silver,0.5);
				}
				
				@include media-breakpoint-up(md) {
					margin-bottom: 30px;
				}
			}

			&__icon {
				margin-bottom: 18px;
			}

			&__title {
				font-family: $ff-circularstd-medium;
			}
		}
	}
}
/*=====  End of Icon Card Section CSS  ======*/

/*=============================================
=            Image Two Column Section CSS            =
=============================================*/
.hb {
	&-image {
		&-column {
			padding: 20px 0 50px;

			@include media-breakpoint-up(md) {
				padding: 20px 0 70px;
			}
		}
	}
}
/*=====  End of Image Two Column Section CSS  ======*/

